            body{
                text-align:center;
                
            }
            .ace{
                border:yellow 2px solid;
            }
            
            
            span{
                font-size:25px;
                position:relative;
                top:-40px;
            }
      