
body{
    background: #e0d0e7;
    
}


header, main, nav, footer{
    text-align: center;
}

nav a{
    padding: 15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;
    color:white;
    
}

nav a:hover{
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;
}

#me, #welcomeText{
    float:left;
}

footer{
    clear: left;
}

#stand{
    text-shadow: 2px 2px 6px black;
}

footer{
    color:navy;
}

table{
    margin: 0px auto;
}

td{
    padding-right: 10px;
    font-size:1.3em;
}

td strong{
    color:white;
}

#table-header{
    background: navy;
}

.table-row{
    background-color: white;
}

ul{
    text-align:left;
    padding-left:200px;
}

.hobby{
    color:white;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size:4em;
    margin-bottom: 0px;
}

iframe{
   display: block;
    margin: auto;
   
}

#content{
       display: block;
    margin: auto;
}